<div class="container">
    <h1>Info about this website</h1>

    <p>This website showcased some basic information about Finnish stamps from the year 1856 to 2014.</p>
    <p>This information includes:</p>
    <ul>
        <li>Names</li>
        <li>Amount printed</li>
        <li>Release date</li>
        <li>End of usage</li>
        <li>Colour</li>
        <li>Artist</li>
        <li>Place of printing</li>
        <li>Currency in which it could be purchased with</li>
        <li>Nominal value</li>
        <li>Tags</li>
    </ul>
    <p>Information about where the date was gathered from is available in the footer at the bottom of the page</p>
</div>