// Place all the styles related to the Stamp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
    border: none;
    margin: 0.5rem;
    .card-img-top {
        max-width: 260px;
    }
}


/* Code below allows cards to flip and was taken from 
this snippet: https://bootsnipp.com/snippets/Qbgxm */

.info-card {
    float: left;
    //margin: 10px;
    -webkit-perspective: 600px;
}

.front,
.back {
    font-size: 0.7rem;
    background: #FFF;
    border-radius: 10px;
    transition: -webkit-transform 1s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    border: 1px solid black;
}

.front {
    overflow: hidden;
    width: 250px;
    height: 330px;
    position: absolute;
    z-index: 1;
}

.back {
    padding: 20px;
    padding-top: 0px;
    width: 250px;
    height: 330px;
    -webkit-transform: rotateY(-180deg);
    overflow: scroll;
}

.info-card:hover .back {
    -webkit-transform: rotateY(0);
}

.info-card:hover .front {
    -webkit-transform: rotateY(180deg);
}

.card-image {
    width: 100%;
    height: 100%;
}