<footer class="footer">
    <div class="container justify-content-between">
        <span class="text-muted">Original compiled or the open data: <a href="https://www.avoindata.fi/data/en/dataset/suomalaiset-postimerkit">Jarmo Niinimäki</a>, Owner of the data: <a href="https://www.postimuseo.fi/en/">Postimuseo</a> and creator of the website: Martti Aukia</span>
    </div>
</footer>